body {
	background-color: #a29bfe;
}
.form {
	width: 100%;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form form {
	background-color: #ffffff;
	padding: 50px;
	border-radius: .25rem;
}
.home {
	background-color: #ffffff;
	border-radius: .25rem;
	height: 100vh;
	padding: 50px;
}
.home #btns {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}